.body
{
    max-width: 1170px;
    background-color:orange;

}
.card-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.card-section
{
    text-align: center;
}


.card
{
    width:300px;
    border: 2px solid rgb(228, 10, 10);
    border-radius: 10px;
    box-shadow: 10px 10px 5px blueviolet;
}
.card h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
   
}
.card:hover{
    background-color: #fff;
}