nav li a{
    text-decoration: none;
}
nav li{
    list-style-type: none;
    display: inline;
    margin-right: 15px
}
nav li a:hover{
    color: orange;
    background-color: chartreuse;
}
footer{
    text-align: center;
}
p{
background-color: lightpink;
}